<% provide(:title, 'About') %>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1 style="font-size: 36px">About MyPlan</h1>
			<hr/>
		</div>
	</div>
	 <div class="card-body">
		            <p>Each student has a unique academic path at DePauw with defined milestones they must complete. DePauw students are very involved in many extracurricular activities while carrying a full academic schedule. Students often struggle planning their four years trying to complete all requirements with their given majors, minors, and fellowship programs.
MyPlan is a web application that helps students carefully plan their academic path at DePauw by tracking their graduation requirements. Students create an account then enter their major, minor, and fellowship program into the interface. MyPlan’s database contains graduation requirements and a list of all current courses that semester. MyPlan creates a table of courses the student should take for that semester based on the student’s requirements, available courses, and the courses they have already taken. Students can view the interface at any time to see their progress with graduation requirements. Students can easily adjust their major, minor, or other needs on the interface and the web application creates a new guide based on these changes.
</p>

	 </div>