<% provide(:title, 'Contact') %>
<div>
	<div class="row">
		<div class="col-sm-12">
			<h1 style="font-size: 36px">Contact</h1>
			<hr/>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
		        <div class="card-header"><h2>Dean Meucci</h2></div>
		        <div class="card-body">
		            <p><i class="fa fa-envelope" aria-hidden="true"></i> Email: deanmeucci_2018@depauw.edu</p>
		            <p><i class="fa fa-phone" aria-hidden="true"></i> Phone: 815-514-8151</p>
		        </div>
		    </div> 
		    <div>&nbsp;</div>
		</div>
	</div>
</div>