<% provide(:title, 'Contact') %>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1 style="color: blue; font-size: 36px">Contact</h1>
			<hr/>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
		        <div class="card-header"><h2 style="color: blue;">Dean Meucci</h2></div>
		        <div class="card-body">
		            <p style="color: blue;"><i class="fa fa-envelope" aria-hidden="true"></i>email: deanmeucci_2018@depauw.edu</p>
		            <p style="color: blue;"><i class="fa fa-phone" aria-hidden="true"></i> phone: 555-514-1523</p>
		        </div>
		    </div> 
		    <div>&nbsp;</div>
		</div>
	</div>
</div>