<% provide(:title, 'Help') %>
<h1 style="font-size: 36px">Help</h1>
<hr/>

<div>&nbsp;</div>
<div class="card">
	<div class="card-header">Q: How do I create an account?</div>
	<div class="card-body small">A: Select Log in from the top tab bar. In the log in screen, select "sign up now!" and fill in the required fields that follow.
	                                                    <br>Note: email must follow an email format i.e. email@emailservice.servicetype. Password must contain at least 6 characters. </div>
</div>
<div>&nbsp;</div>

<div class="card">
	<div class="card-header">Q: I forgot my password.</div>
	<div class="card-body small">A: Email deanmeucci_2018@depauw.edu for password reconfirmation.</div>
</div>  

<div>&nbsp;</div>

<!-- <div class="card">
	<div class="card-header" style="color:blue;">Q: How does the search bar work?</div>
	<div class="card-body small" style="color:blue;">A: Type in a players name to see if he has a card in the database.</div>
</div>  -->

<div>&nbsp;</div>