<% provide(:title, 'Help') %>
<h1 style="font-size: 36px">Help</h1>
<hr/>

<div>&nbsp;</div>
<div class="card">
	<div class="card-header">Q: How do I create an account?</div>
	<div class="card-body small">A: Select Log in from the top tab bar. In the log in screen, select "sign up now!" and fill in the required fields that follow.
	                                                    <br>Note: email must follow an email format i.e. email@emailservice.servicetype. Password must contain at least 6 characters. </div>
</div>
<div>&nbsp;</div>

<div class="card">
	<div class="card-header">Q: I forgot my password.</div>
	<div class="card-body small">A: Email deanmeucci_2018@depauw.edu for password reconfirmation.</div>
</div>  

<div>&nbsp;</div>

<div class="card">
	<div class="card-header">Q: How do I add courses?</div>
	<div class="card-body small">A: In the Profile page, click Adjust courses. From this page you can select what semester and what section you
	took by selecting the checkbox or any attributes in the table relating to that section.
	<br>Make sure to hit the Add Sections button before switching between the semester tab or courses will not save.</div>
</div>

<div>&nbsp;</div>

<div class="card">
	<div class="card-header">Q: How do I add Interests?</div>
	<div class="card-body small">A: In the Profile page, click Adjust interests. From this page you can select what interests you
	belong to. </div>
</div>

<div>&nbsp;</div>

<div class="card">
	<div class="card-header">Q: How does the GamePlan page work?</div>
	<div class="card-body small">A: The GamePlan page will compare the courses you have taken and those you still need to take in your interest,
	 to the most recent semester of classes. It will then display possible sections for the courses that fit those requirements. To see the requirements
	 you still need view your interests which will display a list of all requirements and those courses you need.</div>
</div>

<div>&nbsp;</div>

