<h1>Student Enrollment</h1>


<table>
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Section Name</th>
    </tr>
  </thead>

  <tbody>
    <% @enrolls.each do |enroll| %>
      <tr>
        <td><%= enroll.user.student_first_name + ' ' + enroll.user.student_last_name %></td>
        <td><%= enroll.section.course.department.dep_short_name + '' + enroll.section.course.course_number.to_s + '' + enroll.section.section_letter %></td>
      </tr>
    <% end %>
  </tbody>
</table>
