<h1 style = "text-align: center">GAMEPLAN</h1>
<table class = "blueTable">
          <thead>
            <tr>
              <th colspan="4" style="text-align: center">Courses you should take for the 2018 Fall Semester</th>
            </tr>

        <tr>
          <th>Course</th>
          <th>Professor</th>
          <th>Time</th>
          <th>Days</th>
        </tr>
      </thead>

      

          <tr>
           <td>Course</td>
           <td>Professor</td>
           <td>Time</td>
           <td>Days</td>
          </tr>

      </table>