//@import "bootstrap-sprockets";
@import "bootstrap";

input, textarea, select,  .uneditable-input {
	border: 1px solid blue;
	width: 70%;
	margin-bottom: 15px;
}

input {
	height: auto;
}


.mainLogo {
  text-align: center;
}

header{
	background-image: none;
	background: #414d66;
	height: 75px;
	margin-bottom: 70px;
}

#navlinks {
	margin: 0; 
	padding: 0.5em 3em;
	background: red; 
	color: #FFF;
	font-size: 20px;
	list-style: none;
	text-align: center;
	
}


#content { border: #E0162B 2px solid; background-color: white;}

#page-body { background-color: white;}

#main{
    overflow:hidden;
    padding-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;

}

#mainholder{
	min-height: 100%;
	width: 100%;
	//margin-top: 10px;
}


#navlinks li {
	//float: left;
	display: inline;
	margin-left: 0.5em; // centers navs over logo
	padding-left: 0.75em; // same as above
	margin-right: 0.5em; //0.5em
	padding-right: 0.75em; //0.75em
	//border-right: 1px solid #99C;
	font-weight: bold;
	color: blue;
	text-align:center;
}

#navlinks_last li {
	float: right;
	display: inline;
	margin-right: 0.5em; 
	padding-right: 0.75em;
	border-right: 0;
	font-weight: bold;
	color: blue;
}

footer{
border-top: 3px solid red;
padding-top: 2px;
}

footer small {
float: left;
margin-left: 10px;
}

footer ul {
float: right;
list-style: none;
}

footer ul li {
float: left;
margin-left: 15px;
margin-right: 10px;
}




