@import "bootstrap";



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
   width: 100%; 
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


#smallTable table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    
   // width: 100%; comment in for full width tables
  }

#smallTable  td {
      border: 1px solid #dddddd;
      text-align: left;
      vertical-align: center;
      padding: none;
      margin-bottom: 0px;
      font-size: 0.8em;
  }
#smallTable  label {
      border: 1px solid #dddddd;
      text-align: left;
      vertical-align: center;
      padding: none;
      margin-bottom: 0px;
      border: none;
  }

#smallTable  tr:nth-child(even) {
      background-color: none;
  }



#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.selections{
  display: inline;
  width: 5%;
}

//----------------------------------------------//


#enrollment{
  
 
  table {
  		width: 300px;
	}
  td  {
  		border: 1px solid;
  		text-align: center;
	}
  tr {
  		border: 1px solid;
  		text-align: center;
	}
	
	th {
	  border: 1px solid;
  	text-align: center;
	}
} 


//SELECTING SEMESTER COURSES
#enrollmentnav {
	margin: 0; 
	padding: 0.5em 3em;
	//background: red; 
	//color: #FFF;
	font-size: 20px;
	list-style: none;
	text-align: center;
	
}

#enrollmentnav li {
	//float: left;
	display: inline;
	margin-left: 0.5em; // centers navs over logo
	padding-left: 0.75em; // same as above
	margin-right: 0.5em; //0.5em
	padding-right: 0.75em; //0.75em
	border-right: 1px solid #aaa;
	//border-right: 1px solid #99C;
	//font-weight: bold;
	//color: blue;
	text-align: center;
}
#enrollmentnav li a {
  text-decoration: none;
  color: #ccc;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#enrollmentnav li:last-child {
	//float: right;
	display: inline;
	margin-right: 0.5em; 
	padding-right: 0.75em;
	border-right: 0;
	font-weight: bold;
	//color: blue;
}

#enrollmentnav li a:hover {
  color: #666;
}
 
#enrollmentnav li.active a {
  font-weight: bold;
  color: #333;
}


//COURSE EDITING 
#coursereqlabels{
  label {
  display: inline-block;
  padding-left: 15px;
  text-indent: -15px;
}
input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  position: relative;
  top: -1px;
  *overflow: hidden;
}
}

//SECTION EDITING
#time{
  label{
  display: inline-block;
  padding-left: 15px;
  text-indent: -15px;
  }
  select {
  width: auto;
  //height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  position: relative;
  top: -1px;
  *overflow: hidden;
}
}

//SECTION EDITING 2
.form-style-2{
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}
.form-style-2-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}
.form-style-2 label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}
.form-style-2 span.required{
    color:red;
}
.form-style-2 .tel-number-field{
    width: 40px;
    text-align: center;
}
.form-style-2 input.input-field, .form-style-2 .select-field{
    width: 48%; 
}
.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
    border: 1px solid #0C0;
}
.form-style-2 .textarea-field{
    height:100px;
    width: 55%;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
    background: #EA7B00;
    color: #fff;
}

