@import "bootstrap";



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
   width: 100%; 
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


#smallTable table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    
   // width: 100%; comment in for full width tables
  }

#smallTable  td {
      border: 1px solid #dddddd;
      text-align: left;
      vertical-align: center;
      padding: none;
      margin-bottom: 0px;
      font-size: 0.8em;
  }
#smallTable  label {
      border: 1px solid #dddddd;
      text-align: left;
      vertical-align: center;
      padding: none;
      margin-bottom: 0px;
      border: none;
  }

#smallTable  tr:nth-child(even) {
      background-color: none;
  }



#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.selections{
  display: inline;
  width: 5%;
}

//----------------------------------------------//


#enrollment{
  
 
  table {
  		width: 300px;
	}
  td  {
  		border: 1px solid;
  		text-align: center;
	}
  tr {
  		border: 1px solid;
  		text-align: center;
	}
	
	th {
	  border: 1px solid;
  	text-align: center;
	}
} 


//SELECTING SEMESTER COURSES
#enrollmentnav {
	margin: 0; 
	padding: 0.5em 3em;
	//background: red; 
	//color: #FFF;
	font-size: 20px;
	list-style: none;
	text-align: center;
	
}

#enrollmentnav li {
	//float: left;
	display: inline;
	margin-left: 0.5em; // centers navs over logo
	padding-left: 0.75em; // same as above
	margin-right: 0.5em; //0.5em
	padding-right: 0.75em; //0.75em
	border-right: 1px solid #aaa;
	//border-right: 1px solid #99C;
	//font-weight: bold;
	//color: blue;
	text-align: center;
}
#enrollmentnav li a {
  text-decoration: none;
  color: #ccc;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#enrollmentnav li:last-child {
	//float: right;
	display: inline;
	margin-right: 0.5em; 
	padding-right: 0.75em;
	border-right: 0;
	font-weight: bold;
	//color: blue;
}

#enrollmentnav li a:hover {
  color: #666;
}
 
#enrollmentnav li.active a {
  font-weight: bold;
  color: #333;
}


//COURSE EDITING 
#coursereqlabels{
  label {
  display: inline-block;
  padding-left: 15px;
  text-indent: -15px;
}
input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  position: relative;
  top: -1px;
  *overflow: hidden;
}
}

//SECTION EDITING
#time{
  label{
  display: inline-block;
  padding-left: 15px;
  text-indent: -15px;
  }
  select {
  width: auto;
  //height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  position: relative;
  top: -1px;
  *overflow: hidden;
}
}

